{{ define "admin.attraction.new.layout" }}
{{ template "navbar" . }}
{{ template "admin.attraction.new.content" . }}
{{ template "footer" . }}
{{ end }}

{{ define "admin.attraction.new.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Add New Attractions</h2>
  </div>
  <div class="container">
    <form method="POST" action="/admin/attractions/new" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" id="_csrf" value="{{ .CSRF }}" />
      <div class="form-group row">
        <label for="aname" class="col-sm-2 col-form-label">Attraction Name</label>
        {{with .VErrors.Get "aname"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <input type="text" class="form-control" name="aname" id="aname" value='{{ .Values.Get "aname" }}'
            placeholder="Attraction Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="adesc" class="col-sm-2 col-form-label">Description</label>
        {{with .VErrors.Get "adesc"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <textarea class="form-control" name="adesc" id="adesc" rows="3">{{ .Values.Get "adesc" }}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="aimg" class="col-sm-2 col-form-label">Upload Image</label>
        {{with .VErrors.Get "aimg"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <input type="file" class="form-control-file" name="aimg" id="aimg">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary float-right">Add Attraction</button>
        </div>
      </div>
    </form>
  </div>
</main>
{{ end }}