{{ define "admin.attraction.layout" }}
{{ template "navbar" . }}
{{ template "admin.attraction.content" . }}
{{ template "footer" . }}
{{ end }}

{{ define "admin.attraction.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Menu Categories</h2>
    </div>
    <div class="pt-3 pb-2 mb-3">
        <a class="btn btn-primary btn-lg" href="/admin/attractions/new" role="button">New Attraction</a>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {{ range .Categories }}
          <tr>
            <th scope="row"> {{ .ID }} </th>
            <td> {{ .Name }} </td>
            <td> {{ .Description }} </td>
            <td> <img src="/assets/img/{{ .Image }}" width="70rem" height="70rem" /> </td>
            <td> <a href="/admin/attractions/update?id={{ .ID }}">Edit</a> </td>
            <td> <a href="/admin/attractions/delete?id={{ .ID }}">Delete</a> </td>
          </tr>
          {{ end }}
          </tbody>
          </table>
</main>
{{ end }}