{{ define "admin.attraction.update.layout" }}
{{ template "navbar" . }}
{{ template "admin.attraction.update.content" . }}
{{ template "footer" . }}
{{ end }}

{{ define "admin.attraction.update.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Update Attraction</h2>
  </div>
  <div class="container">
    <form method="POST" action="/admin/attractions/update" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
      <input type="hidden" name="aid" value='{{ .Values.Get "aid" }}' />
      <div class="form-group row">
        <label for="aname" class="col-sm-2 col-form-label">Attraction Name</label>
        {{with .VErrors.Get "aname"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <input type="text" class="form-control" name="aname" id="aname" placeholder="Attraction Name"
            value='{{ .Values.Get "aname" }}'>
        </div>
      </div>
      <div class="form-group row">
        <label for="adesc" class="col-sm-2 col-form-label">Description</label>
        {{with .VErrors.Get "adesc"}}
        <label class="col-sm-2 col-form-label text-danger">{{.}}</label>
        {{end}}
        <div class="col-sm-10">
          <textarea class="form-control" name="adesc" id="adesc">{{ .Values.Get "adesc" }}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="aimg" class="col-sm-2 col-form-label">Current Image</label>
        <input type="hidden" name="imgname" value='{{ .Values.Get "aimg" }}' />
        <img src='/assets/img/{{ .Values.Get "aimg" }}' width="80px" height="80px" />
        <label for="catimg" class="col-sm-2 col-form-label">Upload New Image</label>
        <div class="col-sm-10">
          <input type="file" class="form-control-file" name="aimg" id="aimg">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary float-right">Update Attraction</button>
        </div>
      </div>
    </form>
  </div>
</main>
{{ end }}