{{ define "attraction.content" }}

<!DOCTYPE html>
<html>

<head>
    <title>attraction</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 bg-light">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/assets/pics/eritrea/Red-Sea.jpg">

                    </div>
                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae adipisci sed nesciunt
                            autem libero vel accusantium nihil quia iure aut officiis fugit praesentium quidem nisi,
                            iste in mollitia. Harum, quas?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/assets/pics/eritrea/Red-Sea.jpg">

                    </div>
                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate soluta saepe mollitia
                            dolorum fuga dicta beatae fugit, quaerat doloremque autem excepturi. Commodi sequi veritatis
                            natus. Cupiditate reprehenderit tempora eligendi voluptatum.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/assets/pics/eritrea/Red-Sea.jpg">

                    </div>
                    <div class="col-md-8">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste ex, eligendi animi delectus
                            architecto illum sunt expedita, quod quibusdam facilis consectetur, aliquam quo? Deleniti
                            nihil repellendus in totam est delectus.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="/assets/pics/eritrea/Red-Sea.jpg">

                    </div>
                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate adipisci, sit hic
                            inventore vitae quia facere mollitia voluptas iusto rerum veniam iure? Nostrum deleniti
                            consequuntur quam, voluptatum adipisci sit sint?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 bg-secondary">


                <form action="/action_page.php">
                    <div class="form-check">
                        <label class="form-check-label" for="check1">
                            <input type="checkbox" class="form-check-input" id="check1" name="Addis Ababa"
                                value="something" checked>Addis Ababa
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check2">
                            <input type="checkbox" class="form-check-input" id="check2" name="Aksum"
                                value="something">Aksum
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check3">
                            <input type="checkbox" class="form-check-input" id="check3" name="Tigray"
                                value="something">Tigray
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check4">
                            <input type="checkbox" class="form-check-input" id="check4" name="Oromia"
                                value="something">Oromia
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check4">
                            <input type="checkbox" class="form-check-input" id="check5" name="Afar"
                                value="something">Afar
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check4">
                            <input type="checkbox" class="form-check-input" id="check6" name="BhairDar"
                                value="something">BhairDar
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check4">
                            <input type="checkbox" class="form-check-input" id="check7" name="BhairDar"
                                value="something">Somali
                        </label>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>

</html>
{{ end }}