
<div>
<table style="width:100%">
<link href="contact.css" rel="stylesheet" type="text/css" />
  <tr>
    <th>Days</th>
    <th>Working Hours</th>
    
  </tr>
  <tr>
    <td>Monday</td>
    <td>9:00pm-11:00pm</td>
    
  </tr>
   <tr>
    <td>Wednsday</td>
    <td>9:00pm-11:00pm</td>
    
  </tr>
   <tr>
    <td>Thrusday</td>
    <td>9:00pm-11:00pm</td>
    
  </tr>
   <tr>
    <td>Friday</td>
    <td>9:00pm-11:00pm</td>
    
  </tr>
   <tr>
    <td></td>
    <td>9:00pm-11:00pm</td>
    
  </tr>
   
 
  
 
</table>
</div>
<table id="t01">
  <tr>
    <th>Address</th>
	<th>Addis Ababa,5kilo,AAiT</th>
     
   
  </tr>
  
     <tr>
    <th>Address</th>
	<th>Addis Ababa,6kilo,AAU main campus</th>
     
   
  </tr>
  
    
 
</table>




