{{ define "footer" }}

<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
</head>


<footer>
    <div class="container-j">
        <div class="row jumbotron text-center">
            <div class="col-md-12" >
                <p class="copyright">&copy; BBtravel&tour.com  All Rights Reserved 2020</p>
            </div>
        </div>
    </div>
</footer>

<!-- js -->
    <script src="assets/js/jquery.min.js" ></script>
    <script src="assets/js/bootstrap.bundle.js" ></script>

</body>
</html>

{{ end }}