<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1" ></li>
    <li data-target="#slides" data-slide-to="2" ></li>
</ul>

    <div class="carousel-inner" >
        <div class="carousel-item active">
            <img src="assets/pics/slider/Aksum.jpg" style="width: 100%">
            <div class="carousel-caption" >
                <h3 class="display-3">Beyound Borders</h3>
                <form class="form-inline"  >
                    <input class="form-control mr-sm-2" type="text" placeholder="Search for a place"  >
                    <button class="btn btn-primary" type="submit">Go</button>
                </form>
            </div>

        </div> 

        <div class="carousel-item">
            <img src="assets/pics/slider/Dahlak-Islands.jpg" style="width: 100%">
        </div>

        <div class="carousel-item">
            <img src="assets/pics/slider/Simien-Mountains.jpg" style="width: 100%" >
        </div>
 
    </div>
</div>