{{define home.content}}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!-- <link href="assets/css/starter-template.css" rel="stylesheet"> -->

    
</head>

<body>

   
    <!-- Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1" ></li>
    <li data-target="#slides" data-slide-to="2" ></li>
</ul>

    <div class="carousel-inner" >
        <div class="carousel-item active">
            <img src="pics/slider/Aksum.jpg" width=100% height=650>
            <div class="carousel-caption" >
                <h1 class="display-3">Beyound Borders</h1>
                <h3>Travel and Tour Guide</h3>
            </div>

        </div> 

        <div class="carousel-item">
            <img src="pics/slider/Dahlak-Islands.jpg" width=100% height=650>
            <div class="carousel-caption" >
                <h1 class="display-3">Beyound Borders</h1>
                <h3>Travel and Tour Guide</h3>
            </div>
        </div>

        <div class="carousel-item">
            <img src="pics/slider/Simien-Mountains.jpg" width=100% height=650 >
            <div class="carousel-caption" >
                <h1 class="display-3">Beyound Borders</h1>
                <h3>Travel and Tour Guide</h3>
            </div>
        </div>
 
    </div>
</div>

    <!-- Jumbotron -->
<div class="container-fluid" >
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xlg-10">
            <p class="lead">We are a travel guide and tour provider for those who love to travel or even first time travellers. Our website provides you with all the help you need to travel worry and hassle free. </p>
        </div>
 
    </div>
</div>

<!-- Middle Section -->

<div class="row">
  
        <div class="col-sm-8" >
                <h1>Ethiopia</h1>
            <div class="container-fluid padding text-center">
                
                <br>
                
                <h3>Weather</h3>
                <p>There are on average seven hours of sunshine per day. The dry season is the sunniest time of the year, though even at the height of the rainy season in July and August there are still usually several hours per day of bright sunshine. The average annual temperature in Addis Ababa is 16 °C (60.8 °F), with daily maximum temperatures averaging 20–25 °C (68.0–77.0 °F) throughout the year, and overnight lows averaging 5–10 °C (41.0–50.0 °F).Most major cities and tourist sites in Ethiopia lie at a similar elevation to Addis Ababa and have a comparable climate. In the east of the country, the climate can be significantly hotter and drier. Dallol, in the Danakil Depression in this eastern zone, has the world's highest average annual temperature of 34 °C (93.2 °F).</p>
                
                <h3>Wild Life</h3>
                <p>Ethiopia has 31 endemic species of mammals.The Ethiopian wolf is perhaps the most researched of all the endangered species within Ethiopia.Ethiopia is a global center of avian diversity. To date more than 856 bird species have been recorded in Ethiopia, twenty of which are endemic to the country.Sixteen species are endangered or critically endangered. </p>
                
                <h3>Cuisine</h3>
                <p>The best-known Ethiopian cuisine consists of various types of thick meat stews, known as wat in Ethiopian culture, and vegetable side dishes served atop injera, a large sourdough flatbread made of teff flour. This is not eaten with utensils, but instead one uses the injera to scoop up the entrées and side dishes. Almost universally in Ethiopia, it is common to eat from the same dish in the center of the table with a group of people. It is also a common custom to feed others in your group with your own hands—a tradition referred to as "gursha".Traditional Ethiopian cuisine employs no pork or shellfish of any kind</p>
                
                <!-- <h3>Sport</h3>
                <p>The main sports in Ethiopia are track and field (particularly long distance running) and football. Ethiopian athletes have won many Olympic gold medals in track and field, most of them in long distance running. Abebe Bikila became the first athlete from a sub Saharan country to win an Olympic Gold medal when he won the Marathon at the 1960 Rome Olympic Games in a world record time of 2:15:16.</p>
            
                <h3>Music</h3>
                <p>The music of Ethiopia is extremely diverse, with each of the country's 80 ethnic groups being associated with unique sounds.As with many other aspects of Ethiopian culture and tradition, tastes in music and lyrics are strongly linked with those in neighboring Eritrea, Somalia, Djibouti, and Sudan.</p> -->
            </div>
        </div>
   

    
        <div class="col-sm-4">
            <div class="container-fluid padding text-center">
                <h1>Services We Provide</h1>
                <hr>
                <p>We want to make your travels easy and delightful.</p>
                <br>
                <h3>Attractions</h3>
                <p>Must-see places in the country you visit</p>
                <br>
                <h3>Hotels</h3>
                <p>List of the best places you can stay at that the country you visit offers.</p>
                <br>
                <h3>Packages</h3>
                <p>Tour packages that includes boarding and transportation</p>
                <br>
                <h3>Resturants</h3>
                <p>Never feel confused about where to eat with our assorted list of places to eat at</p>

                            
            </div>
        </div>
</div>

<div class="jumbotron">
        <div id="carouselExampleFade" class="carousel slide " data-ride="carousel">
   <div class="carousel-inner">
 
 
        <div class="carousel-item active">
            <div class="row">
                <div class="col-3">
                <img src="gallery/gal1.jpg" class="img-thumbnail">
                </div>
        
                <div class="col-3">
                <img src="gallery/gal2.jpg" class="img-thumbnail">
                </div>
        
                <div class="col-3">
                <img src="gallery/gal3.jpg" class="img-thumbnail">
                </div>
        
                <div class="col-3">
                <img src="gallery/gal4.jpg" class="img-thumbnail">
                </div>
        
            </div>
        </div>
    
        <div class="carousel-item">
            <div class="row">
                <div class="col-3">
                <img src="gallery/gal5.jpg" class="img-thumbnail">
                </div>
        
                <div class="col-3">
                <img src="gallery/gal6.jpg" class="img-thumbnail">
                </div>
        
                <div class="col-3">
                <img src="gallery/gal7.jpg" class="img-thumbnail">
                </div>
        
                <div class="col-3">
                <img src="gallery/gal8.jpg" class="img-thumbnail">
                </div>
        
            </div>
        </div>
 
 
 
   </div>
   <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
 </div>
      </div>




  
    <!-- Two Columns -->

<!-- <div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <h2>Our Philosophy</h2>
            <p>We know that greatness in a disruptive era requires bold ambition, curious talent and a culture that believes we're smarter together.</p>
            <p>We approach every challenge holistically, with best-in-class expertise in tourism, creatvity and much more. We strive to be the best in what we do and will do in the future.</p>
            <br>
        </div>
        <div class="col-lg-6">
            <img src="" class="img-fluid">
        </div>
    </div>
</div> -->

    <!-- Footer -->
    
 


            
    
    <script src="assets/js/jquery.min.js" ></script>
    <script src="assets/js/bootstrap.bundle.js" ></script>
    <script src="assets/js/popper.min.js" ></script>
    
</body>

</html> 

{{end}}