{{ define "login.content" }}
<!DOCTYPE html>
<html>
    <head>
        <title>sign up</title>
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    	<div class="container">
    		<div class="row">
                <div class="jumbotron text-center">
                   <h1>Log In</h1>
                </div>
    			<div class="col-md-2"></div>
    			<div class="col-md-8 bg-secondary">
    		       <div class="row">
    			       <div class="col-md-2"></div>
    			          <div class="col-md-8">
    		       
    			              <form action="" method="POST" encrytype="">
                                                                      
                                    <div class="form-group">
                                        <label for="username">UserName:</label>
                                        <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Password:</label>
                                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                                    </div>
                                    <div class="form-group form-check">
                                         <label class="form-check-label">
                                         <input class="form-check-input" type="checkbox" name="remember"> Remember me
                                         </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Login</button>
                              </form>
    			         </div> 
    			        <div class="col-md-2"></div>    
    		       </div>
    			       
    			</div> 
    			<div class="col-md-2"></div>    
    		</div>
    	</div>
    </body>
    {{ end }}