{{ define "navbar" }}

<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
</head>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="logo/logo222.jpg"></a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"> </span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Attractions</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="#">Hotels</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="#">Packages</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                </li>
                   
            </ul>
        </div>
    </div>
</nav>
</html>

{{ end }}