<link href="assets/css/bootstrap.min.css" rel="stylesheet">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar navbar-expand-md navbar-light bg-secondary ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Beyound Borders</a> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"> </span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Packages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>  
                     <li class="nav-item">
                        <a class="nav-link" href="attraction.html">Attraction</a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>