{{ define "attraction.content" }}
<!DOCTYPE html>
<html>

<head>
    <title>package</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ">
                <div class="row bg-light">
                    <div class="col-md-4">
                        <button class="bg-info">buy</button>

                    </div>
                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque qui quam magni, libero
                            aperiam, molestiae at fugiat id facilis aliquid sunt. Possimus debitis deserunt ex odit
                            veniam? Doloribus, eligendi totam?</p>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-md-4 ">
                        <button class="bg-info">buy</button>

                    </div>
                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero voluptates expedita,
                            voluptatibus impedit esse ipsum ut atque, minus eius magnam sed cumque mollitia voluptatem
                            assumenda repellat asperiores adipisci qui doloremque.</p>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-md-4 ">
                        <button class="bg-info">buy</button>

                    </div>
                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ut facere repellat
                            reprehenderit quo ducimus illum necessitatibus dignissimos deleniti. Asperiores sed velit
                            unde similique, amet facilis? Tempore illo eos ut.</p>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col-md-4 ">
                        <button class="bg-info">buy</button>

                    </div>
                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, excepturi molestias. Mollitia
                            ipsum ex distinctio? Accusamus tenetur iusto cumque, quasi unde ea distinctio ad illo qui
                            non illum aliquam facere!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 bg-secondary">

                <form action="/action_page.php">
                    <div class="form-check">
                        <label class="form-check-label" for="check1">
                            <input type="checkbox" class="form-check-input" id="VIP" name="VIP"
                                value="something" checked>VIP class
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check2">
                            <input type="checkbox" class="form-check-input" id="Business" name="Business"
                                value="something">Business class
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check2">
                            <input type="checkbox" class="form-check-input" id="Normal" name="Normal"
                                value="something">Normal
                        </label>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

</html>
{{ end }}