{{ define "sign up.content" }}
<!DOCTYPE html>
<html>
    <head>
        <title>sign up</title>
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-2"></div>
    			<div class="col-md-8 bg-secondary">
    		       <div class="row">
    			       <div class="col-md-2"></div>
    			          <div class="col-md-8">
    		                    <div class="jumbotron text-center">
                                    <h1>Sign Up</h1>
                                </div>     
    			              <form method="POST" action="/signup">
                                   <div class="form-group">
                                    <label for="Fullname">Fullname:</label>
                                    <input type="fullname" class="form-control" id="fullname" placeholder="Enter Fullname" name="fullname">
                                   </div>
                                   <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Password:</label>
                                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                                    </div>
                                     <div class="form-group">
                                        <label for="pwd">ConfirmePassword:</label>
                                        <input type="password" class="form-control" id="pwd" placeholder="ConfirmePassword" name="cpswd">
                                    </div>
                                    <div class="form-group form-check">
                                         <label class="form-check-label">
                                         <input class="form-check-input" type="checkbox" name="remember"> Remember me
                                         </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
    			         </div> 
    			        <div class="col-md-2"></div>    
    		       </div>
    			       
    			</div> 
    			<div class="col-md-2"></div>    
    		</div>
    	</div>
    </body>
</html>
{{ end }}